Kaggle给初学者们提供了简单的上手教学，在此将其关于Pandas的课程提炼出来，虽然并没有多少内容，但对于做数据分析应该够用了  
Kaggle原文链接https://www.kaggle.com/learn/pandas  
Pandas官方文档更为详细，举例也很友好：http://pandas.pydata.org/pandas-docs/stable/reference/index.html

# Creating, Reading & Writing
## Creating data
Pandas中有两个核心对象，DataFrame和Series
### DataFrame
DataFrame是二维表格，竖列称为column，横行称为index，例如创建一个名为fruits的DataFrame对象：

In [38]:
import pandas as pd

# 方法一：先按行输入表格数据，然后分别对columns和index作补充说明
fruits = pd.DataFrame([[10, 20], [30, 40]], columns=["Apples", "Bananas"], index=["Price", "Amount"])

# 方法二：按列来输入每一个column的数据，然后对index作单独补充说明
fruits = pd.DataFrame({"Apples": [10, 30], "Bananas": [20, 40]}, index=["Price", "Amount"])

fruits

        Apples  Bananas
Price       10       20
Amount      30       40

### Series
Series是一维表格，即只有单列column，可以把一个DataFrame看作是多个Series组合起来的合体，它们总是相互关联。不对column单独命名，只有一个总的表格名，例如创建一个名为things的Series对象：

In [4]:
# 方法类似，先对表格内容进行输入，然后对index和name补充说明
things = pd.Series([1, 2, 3], index=["Milk", "Eggs", "Spam"], name="Dinner")

things

Milk    1
Eggs    2
Spam    3
Name: Dinner, dtype: int64

注意：在上述创建过程中，如果index不作特殊说明，那么就会是从0开始的连续自然数
## Reading file
数据可以存储在多种文件格式中，目前最基础的是CSV格式的文件，CSV（comma-seperated values）格式是数据被逗号隔开的一种表格，我们使用read_csv()函数把数据读取到一个DataFrame对象中：

In [ ]:
# 此时pandas会自动加入从0开始的index
wine_reviews = pd.read_csv("../input/wine-reviews/winemag-data-130k-v2.csv")

# 如果原数据有自己的index，比如在第一列，则可用index_col=0来描述，这样第一列就会作为index
wine_reviews = pd.read_csv("../input/wine-reviews/winemag-data-130k-v2.csv", index_col=0)

另一种常见的数据格式是SQL（Structured Query Language），它的存储能力相当惊人，SQL有很多不同种类，每一种都需要各自的connector，它的读取没有CSV那么方便，目前在Kaggle唯一支持的种类是SQLite，应用举例：

In [ ]:
import sqlite3

conn = sqlite3.connect("../input/188-million-us-wildfires/FPA_FOD_20170508.sqlite")
fires = pd.read_sql_query("SELECT * FROM fires", conn)
# SELECT是每个SQL开始陈述时的固定表达，星号*意为everything，FROM fires表示只从数据中读取名为fires的表格

## Writing file
使用to_csv()函数将数据写入CSV格式的文件：

In [ ]:
wine_reviews.to_csv("wine_reviews.csv")

# Indexing, Selecting & Assigning
## Naive accessors
简单的访问数据：可以直接显示整个DataFrame，若数据量较大最好设置展示的最大行数；也可以使用 **head()** 来展示前几行数据

In [47]:
import pandas as pd

reviews = pd.read_csv("wine-reviews/winemag-data-130k-v2.csv", index_col=0)
pd.set_option("display.max_rows", 2)    # 数据量大，这里设置为最多显示5行

reviews

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit

In [20]:
reviews.head(n=1)           # 若不指定，则默认n=5

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia

选取特定的某一列数据，可以用 **DataFrame.column** 或者 **DataFrame["column"]**

In [12]:
reviews.country   
reviews['country']

0            Italy
1         Portugal
            ...
129969      France
129970      France
Name: country, Length: 129971, dtype: object

选取特定的某一行某一列的元素，可以用 **DataFrame["column"]["index"]**

In [13]:
reviews['country'][0]

'Italy'

## DataFrame.iloc
DataFrame.iloc基于数据的数字索引位置（integer-location）来检索数据，也可用布尔值（boolean array）进行检索

In [14]:
reviews.iloc[0]               # 选取第一行

country                                                    Italy
description    Aromas include tropical fruit, broom, brimston...
                                     ...
variety                                              White Blend
winery                                                   Nicosia
Name: 0, Length: 13, dtype: object

In [15]:
reviews.iloc[:, 0]            # 选取第一列，:表示所有

0            Italy
1         Portugal
            ...
129969      France
129970      France
Name: country, Length: 129971, dtype: object

In [16]:
reviews.iloc[:3, 0]           # 选取第一列的前3个数据

0       Italy
1    Portugal
2          US
Name: country, dtype: object

In [17]:
reviews.iloc[[0, 3, 5], 0]    # 选取第一列的第1、4、6个数据，使用列表检索要加[]

0    Italy
3       US
5    Spain
Name: country, dtype: object

In [23]:
reviews.iloc[-1]              # 选取最后一行：若是负数，则是从数据末尾开始计算，类似于python的列表功能

country                                                   France
description    Big, rich and off-dry, this is powered by inte...
                                     ...
variety                                           Gewürztraminer
winery                                          Domaine Schoffit
Name: 129970, Length: 13, dtype: object

In [50]:
# 基于布尔值进行检索选取数据，注意布尔的数量要与index数量一致，下例表示选取第1行和第4行数据
reviews.head().iloc[[True, False, False, True, False]]

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian

## DataFrame.loc
DataFrame.loc可以基于标签（label）或布尔值（boolean array）对行列进行检索，还可以使用逻辑符号进行条件检索

In [29]:
reviews.loc[0, 'country']                     # 选取第1行第1列的数据

'Italy'

In [52]:
reviews.loc[:, ['taster_name', 'points']]     # 选取某两列的所有数据

          taster_name  points
0       Kerin O’Keefe      87
...               ...     ...
129970     Roger Voss      90

[129971 rows x 2 columns]

In [51]:
# 基于布尔值进行检索选取数据，注意布尔的数量要与index数量一致，下例表示选取第1行和第4行数据
reviews.head().loc[[True, False, False, True, False]]

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
3,US,"Pineapple rind, lemon pith and orange blossom ...",Reserve Late Harvest,87,13.0,Michigan,Lake Michigan Shore,NaN,Alexander Peartree,NaN,St. Julian 2013 Reserve Late Harvest Riesling ...,Riesling,St. Julian

**总结一下iloc与loc的异同：**
* 相同点：都是先行后列的检索顺序，都支持使用布尔值检索
* iloc适用于基于数字索引进行检索；loc可以使用表格的标签进行检索，还可以进行条件检索  
* 对于一个range（比如1:10），iloc是前闭后开（即1到9），loc是前后都闭（即1到10）  


## 条件检索

In [40]:
reviews.loc[reviews.country == 'Italy']

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129962,Italy,"Blackberry, cassis, grilled herb and toasted a...",Sàgana Tenuta San Giacomo,90,40.0,Sicily & Sardinia,Sicilia,NaN,Kerin O’Keefe,@kerinokeefe,Cusumano 2012 Sàgana Tenuta San Giacomo Nero d...,Nero d'Avola,Cusumano

In [41]:
reviews.loc[(reviews.country == 'Italy') & (reviews.points >= 90)]     # 在Pandas里“与”用“&”表示

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
120,Italy,"Slightly backward, particularly given the vint...",Bricco Rocche Prapó,92,70.0,Piedmont,Barolo,NaN,NaN,NaN,Ceretto 2003 Bricco Rocche Prapó (Barolo),Nebbiolo,Ceretto
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129962,Italy,"Blackberry, cassis, grilled herb and toasted a...",Sàgana Tenuta San Giacomo,90,40.0,Sicily & Sardinia,Sicilia,NaN,Kerin O’Keefe,@kerinokeefe,Cusumano 2012 Sàgana Tenuta San Giacomo Nero d...,Nero d'Avola,Cusumano

In [42]:
reviews.loc[(reviews.country == 'Italy') | (reviews.points >= 90)]     # 在Pandas里“或”用“|”表示

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit

**isin()** 用来选取存在于列表中的数据

In [43]:
reviews.loc[reviews.country.isin(['Italy', 'France'])]

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
0,Italy,"Aromas include tropical fruit, broom, brimston...",Vulkà Bianco,87,NaN,Sicily & Sardinia,Etna,NaN,Kerin O’Keefe,@kerinokeefe,Nicosia 2013 Vulkà Bianco (Etna),White Blend,Nicosia
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit

**isnull()** 与 **notnull()** 用来确认数据是否为空

In [44]:
reviews.loc[reviews.price.notnull()]

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
1,Portugal,"This is ripe and fruity, a wine that is smooth...",Avidagos,87,15.0,Douro,NaN,NaN,Roger Voss,@vossroger,Quinta dos Avidagos 2011 Avidagos Red (Douro),Portuguese Red,Quinta dos Avidagos
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129970,France,"Big, rich and off-dry, this is powered by inte...",Lieu-dit Harth Cuvée Caroline,90,21.0,Alsace,Alsace,NaN,Roger Voss,@vossroger,Domaine Schoffit 2012 Lieu-dit Harth Cuvée Car...,Gewürztraminer,Domaine Schoffit

## Assigning data 赋值

In [37]:
reviews['critic'] = 'everyone'
reviews['critic']

0         everyone
1         everyone
            ...
129969    everyone
129970    everyone
Name: critic, Length: 129971, dtype: object

# Summary functions & maps

In [5]:
import pandas as pd

reviews = pd.read_csv("wine-reviews/winemag-data-130k-v2.csv", index_col=0)

reviews.points.describe()              # 描述分数的一些情况

count    129971.000000
mean         88.447138
std           3.039730
min          80.000000
25%          86.000000
50%          88.000000
75%          91.000000
max         100.000000
Name: points, dtype: float64

In [4]:
reviews.points.mean()                   # 分数的平均值

88.44713820775404

In [8]:
reviews.points.median()                 # 分数的中值

88.0

In [6]:
reviews.points.unique()                 # 分数的不同数值

array([ 87,  86,  85,  88,  92,  91,  90,  89,  83,  82,  81,  80, 100,
        98,  97,  96,  95,  93,  94,  84,  99], dtype=int64)

In [21]:
pd.set_option("display.max_rows", 5)

reviews.taster_name.value_counts()      # 分数的不同数值分别出现了多少次

Roger Voss           25514
Michael Schachner    15134
                     ...
Fiona Adams             27
Christina Pickard        6
Name: taster_name, Length: 19, dtype: int64

# Grouping & Sorting

In [8]:
import pandas as pd

reviews = pd.read_csv("wine-reviews/winemag-data-130k-v2.csv", index_col=0)
pd.set_option("display.max_rows", 5)

reviews.groupby('points').points.count()    # 将分数升序排列，并统计出对应的个数

points
80     397
81     692
      ...
99      33
100     19
Name: points, Length: 21, dtype: int64

In [9]:
reviews.groupby("price").points.max()      # 将价格升序排列，并统计出对应的最高分数

price
4.0       86
5.0       87
          ..
2500.0    96
3300.0    88
Name: points, Length: 390, dtype: int64

In [12]:
reviews.groupby('country').price.agg([min, max])      # agg可以运行多个函数

            min    max
country
Argentina   4.0  230.0
Armenia    14.0   15.0
...         ...    ...
Ukraine     6.0   13.0
Uruguay    10.0  130.0

[43 rows x 2 columns]

In [15]:
# groupby可以有多个index
countries_reviewed = reviews.groupby(['country', 'province']).description.agg([len])
countries_reviewed

                             len
country   province
Argentina Mendoza Province  3264
          Other              536
...                          ...
Uruguay   San Jose             3
          Uruguay             24

[425 rows x 1 columns]

In [16]:
countries_reviewed.reset_index()     # reset_index()转换为常规的dataframe类型

       country          province   len
0    Argentina  Mendoza Province  3264
1    Argentina             Other   536
..         ...               ...   ...
423    Uruguay          San Jose     3
424    Uruguay           Uruguay    24

[425 rows x 3 columns]

In [17]:
countries_reviewed.reset_index().sort_values(by='len')      # 默认升序

    country               province    len
179  Greece  Muscat of Kefallonian      1
192  Greece          Sterea Ellada      1
..      ...                    ...    ...
415      US             Washington   8639
392      US             California  36247

[425 rows x 3 columns]

In [18]:
countries_reviewed.reset_index().sort_values(by='len', ascending=False)

    country    province    len
392      US  California  36247
415      US  Washington   8639
..      ...         ...    ...
63    Chile     Coelemu      1
149  Greece      Beotia      1

[425 rows x 3 columns]

# Data types & missing data handling
## Data types

In [26]:
import pandas as pd

reviews = pd.read_csv("wine-reviews/winemag-data-130k-v2.csv", index_col=0)
pd.set_option("display.max_rows", 2)

reviews.dtypes

country    object
            ...
winery     object
Length: 13, dtype: object

In [24]:
reviews.points.dtype

dtype('int64')

In [ ]:
reviews.points.astype('float64')       # 将points的int64类型转换为float64类型

## Missing data handling

In [29]:
reviews.country.isnull().sum()

63

In [27]:
reviews[reviews.country.isnull()]

,country,description,designation,points,price,province,region_1,region_2,taster_name,taster_twitter_handle,title,variety,winery
913,NaN,"Amber in color, this wine has aromas of peach ...",Asureti Valley,87,30.0,NaN,NaN,NaN,Mike DeSimone,@worldwineguys,Gotsa Family Wines 2014 Asureti Valley Chinuri,Chinuri,Gotsa Family Wines
...,...,...,...,...,...,...,...,...,...,...,...,...,...
129900,NaN,This wine offers a delightful bouquet of black...,NaN,91,32.0,NaN,NaN,NaN,Mike DeSimone,@worldwineguys,Psagot 2014 Merlot,Merlot,Psagot

In [30]:
reviews.region_2.fillna("Unknown")       # fillna用于将缺失的NA值替换成别的

0         Unknown
           ...
129970    Unknown
Name: region_2, Length: 129971, dtype: object

In [ ]:
DataFrame.dropna()                          # 去掉有缺失项的行
DataFrame.dropna(axis='columns')            # 去掉有缺失项的列
DataFrame.dropna(how='all')                 # 去掉所有项均缺失的行
DataFrame.dropna(thresh=2)                  # 保留至少有两个非空项的行

还有一种处理数据的方法：replace，例如DataFrame.replace("A", "B")，意为将A替换为B  
关于replace有很多用法，具体可查看官方文档http://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.replace.html#pandas.DataFrame.replace

# Renaming & Combining

In [ ]:
reviews.rename(columns={'points': 'score'})
reviews.rename(index={0: 'firstEntry', 1: 'secondEntry'})

In [ ]:
combined_products = pd.concat([gaming_products, movie_products])

In [ ]:
left = canadian_youtube.set_index(['title', 'trending_date'])
right = british_youtube.set_index(['title', 'trending_date'])

left.join(right, lsuffix='_CAN', rsuffix='_UK')